@charset "utf-8";
/* CSS Document */
body {
	background-color: #28D4C3;
	font-family: Arial, Helvetica, sans-serif;
}
a:hover, a:active, a:focus, a:visited {
	outline: none;
	border: 0;
	text-decoration: none;
	color: #27D2C1;
}
.bg-white {
	background-color: #FFF;
	margin: 10px 0;
	padding: 5px;
}
.logo {
	font-size: 18px;
	font-weight: bold;
	margin: 22px;
	float: left;
	color: #27D2C1;
	text-shadow: 1px 1px 5px rgba(48, 48, 48, 0.26);
}
.header .ad-block {
	background-color: #F0F0F0;
	width: 60%;
	float: right;
	height: 50px;
	margin: 10px;
}
.left-sidebar .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	margin: 10px 10px 15px 10px;
}
.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: 30%;
	margin: 10px;
}

.header {
	height: 80px;
}
.footer, .middle-left, .middle-right, .bottom-left-block, .bottom-middle-block, .bottom-right-block, .bottom-content {
	height: 60px;
}
.left-sidebar {
	height: 700px;
}
.main-content  {
	height: 700px;
	
.footer .copyright {
	color: #A5A5A5;
	text-align: center;
	margin: 16px;
}
@media (max-width:767px) {
.header {
	height: auto;
}
.logo {
	margin: 15px;
	float: none;
	text-align: center;
}
.header .ad-block {
	height: 50px;
	width: auto;
	margin: 10px;
	float: none;
}
.footer {
		height: auto;
}
.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: auto;
}
}